.suscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0A83E;
    padding: 10px;
}

.suscription input {
    background-color: white;
    border: 0px;
}
.suscription button {
    background-color: #3C2313;
    color: white;
}

.sub-title, .sub-form {
    display: flex;
    align-items: center;
    padding: 5px;
}
.sub-title h3 {
    color:#FFFFFF;
    font-size: 1rem;
    margin-left: 15px;
}

input {
    background-color: #3C2313;
    border: none;
    border-radius: 15px;
    color: white;
    margin: 5px;
    max-width: 310px;
    height: 10px;
    padding: 15px;
    width: 90%;
}
